body {
    margin: 0;
    overflow: hidden; 
}

.main {
    background:linear-gradient(to right, #001F3F, #070D15);
    height: 100vh; 
}

.flower-3{
    width: 100%;
    height: 300px;
    position: relative;
    transform: translateX(-18%) translateY(-175%) rotate(-30deg);
}
.flower-2{
    width: 100%;
    height: 300px;
    position: relative;
    transform: translateX(18%) translateY(-75%) rotate(30deg);
}

.flower-5{
    width: 100%;
    height: 300px;
    position: relative;
    transform: translateX(-31%) translateY(-304%) rotate(-60deg);
}
.flower-4{
    width: 100%;
    height: 300px;
    position: relative;
    transform: translateX(31%) translateY(-205%) rotate(60deg);
}


.flower-1 {
    width: 100%;
    height: 300px;
    position: relative;
}

.center-1 {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: yellow;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.center-2 {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: purple;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.center-3 {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: red;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.center-4 {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: orange;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.center-5 {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: burlywood;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}


.petal {
    width: 100px;
    height: 100px;
    border-radius: 999px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: palevioletred;
    transform-origin: center 150px;
    z-index: 2;
}

.petal:nth-child(1) {
    transform: rotate(45deg);
}

.petal:nth-child(2) {
    transform: rotate(90deg);
}

.petal:nth-child(3) {
    transform: rotate(135deg);
}

.petal:nth-child(4) {
    transform: rotate(180deg);
}

.petal:nth-child(5) {
    transform: rotate(225deg);
}

.petal:nth-child(6) {
    transform: rotate(270deg);
}

.petal:nth-child(7) {
    transform: rotate(315deg);
}

.petal:nth-child(8) {
    transform: rotate(360deg);
}

.stem{
    height: 500px;
    width: 20px;
    display: block;
    background-color: green;
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);
}

.leaf-1 {
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(10%) rotate(45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
.leaf-2{
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 450px;
    left: 50%;
    transform:translateX(-127%) rotate(-45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
.leaf-3{
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-127%) rotate(-45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
.leaf-4{
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(10%) rotate(45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
.leaf-5{
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-127%) rotate(-45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
.leaf-6{
    width: 60px;
    height: 120px;
    background-color: #00ff00;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(10%) rotate(45deg);
    clip-path: polygon(-15% 0%, 115% 0%, 47% 100%);
    border-radius: 50% 50% 0 0;
}
